<html>
    <head>
        <title>{{ title }}</title>
        <h1>Welcome to H-1B Employer Data Hub!</h1>
        <p>This program allows users to gather information about H1b-Visa administered by the US government.</p>
        <p>There are currently two features that you can test at the moment.</p>
    </head>
    <body>
        <ul>
            <b>Get Companies By State:</b>
            <li>Route: <code>/companies/search?state=YourState</code> </li>
            <li>Notice that the <b><code>YourState</code></b> is where you put the state. 
            <br><b>YourState</b> needs to be in a two letter abbreviation => ex) CA, MN</li>    
        </ul>
        <ul>
            <b>Get Companies With Minimum Initial Approval: </b>
            <li>Route: <code>/companies/search?minInitApproval=YourNumber</code> </li>
            <li>Notice that the <b><code>YourNumber</code></b> is where you put the number for minimum threshold. 
            <br><b>YourNumber</b> has to be a number. 
            </li>    
        </ul>
    </body>
    <body>

    </body>
</html>