<html>
    <head>
        <title>{{ title }}</title>
        <h1>Welcome to H-1B Employer Data Hub!</h1>
        <p>This program allows users to gather information about H1b-Visa administered by the US government.</p>
        <p>There are currently two features that you can test at the moment.</p>
    </head>
    <body>
        <ul>
            <b>Get Companies By State:</b>
            <li>Route: <code>/companies/search?state="state"</code> </li>
            <li>Notice that the <code>"state"</code> is where you put the state. 
            <br> The "state" needs to be in a two letter abbreviation => ex) CA, MN</li>    
        </ul>
        <ul>
            <b>Get Companies With Minimum Initial Approval: </b>
            <li>Route: <code>/companies/search?minInitApproval="threshold"</code> </li>
            <li>Notice that the <code>"threshold"</code> is where you put the number for minimum threshold. 
            <br> The "threshold" has to be a number. 
            </li>    
        </ul>
    </body>
    <body>

    </body>
</html>